<!-- edit Event modal  -->
<div class="modal fade modal-clay" id="modal-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal-edit-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditEventLabel">Edit Event</h1>
                <button id="modalEditEvent-closeBtn" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="formEditEvent">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control text-clay" name="title" required minlength="3">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control text-clay" name="description" rows="10"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select class="form-select text-clay" id="categoryDropdown-edit" name="category"
                            aria-label="Default select example">

                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label ">Start -</label>
                        <input type="datetime-local" class="form-control text-clay" name="start" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fin</label>
                        <input type="datetime-local" class="form-control text-clay" name="finish" required>
                    </div>
                    <div class="mb-3">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="reminderBool" value=""
                                id="checkDefaultEdit">
                            <label class="form-check-label" for="checkDefaultEdit">
                                Reminder
                            </label>
                        </div>
                        <select class="form-select text-clay" name="reminderTime" aria-label="Default select example"
                            id="dropdown-remindertime" disabled>
                            <option selected>Open this select menu</option>
                            <option value="1">At event time</option>
                            <option value="2">10 minutes before</option>
                            <option value="3">30 minutes before</option>
                            <option value="4">1 hour before</option>
                            <option value="5">1 day before</option>
                        </select>
                    </div>
                    <button id="modalEditEvent-submitBtn" type="submit" class="btn btn-clay">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-clay" id="modal-edit-category" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="modal-edit-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditCategoryLabel">Create Category</h1>
                <button id="modalEditCategory-closeBtn" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="formEditCategory">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="title" required minlength="3">
                    </div>
                    <button type="submit" class="btn btn-clay">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-clay" id="modal-editordelete-category" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="modal-editordelete-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditorDeleteCategoryLabel">Category Actions</h1>
                <button id="modalEditorDeleteCategory-closeBtn" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="formEditorDeleteCategory">
                    <div class="mb-3">
                        <button id="btn-editCategory" type="button" class="btn btn-clay">Edit</button>
                        <button id="btn-deleteCategory" type="button" class="btn btn-danger">Delete</button>
                    </div>
                    <!-- <button type="submit" class="btn btn-clay">Edit</button> -->
                </form>
            </div>
        </div>
    </div>
</div>