.btn-clay {

    border-color: #cc9674;
    color: #cc9674;

}
.btn-clay:hover {
    background-color: #cc9674;
    border-color: #cc9674;
    color: #fff;
}
.category-checkbox:checked {
    background-color: #cc9674;
    border-color: #cc9674;
    color: #fff;
}

:root {
    --primary-color: #cc9674;
    --light-color: #eec9b2;
}
.modal-clay {
    color: #cc9674;
}
.text-clay {
    color: #cc9674;
}
#event-list::-webkit-scrollbar {
    display: none;  /* Chrome and Safari */
}

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    padding: 7%;
  
}

.container {
    position: relative;
    width: 100%;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
}
*/
.left {
    width: 20%;
    padding: 20px;
    border-right: 4px double var(--light-color);
    border-left: 4px double var(--light-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    /* border-right: 4px double var(--light-color); */
}

.right {
    width: 20%;
    padding: 20px;
    border-right: 4px double var(--light-color);
    border-left: 4px double var(--light-color);
}

.calendar-day {
    width: 90px; /* or 14.28%*/
    position: relative;
    height: 90px;
    display: flex;
    padding: 4px 6px;
    justify-content: right;
    cursor: pointer;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.today {
    background-color: var(--primary-color);
    /* border: 2px solid #ff69b4; */
    font-weight: bold;
    font-size: 1.7rem;
    color: #fff;
}
.calendar-day-prev {
    width: 90px; /* or 14.28%*/
    position: relative;
    height: 90px;
    display: flex;
    padding: 4px 6px;
    justify-content: right;
    cursor: pointer;
}
.calendar-header {
    width: 90px;
    justify-content: center;
    position: relative;
    color: var(--primary-color);
    /* border: 1px solid var(--light-color); */
}
.calendar-month-label {
    width: 450px;
    justify-content: center;
    position: relative;
    color: var(--primary-color);
}
.clay-txt {
    color: var(--primary-color);
}
.category-checkbox {
    color: var(--primary-color);
    accent-color : var(--primary-color);
}